/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 17px 'PT Sans', helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}


h1, h2, h3, h4, h5, h6 {
  font: 17px 'PT Sans', helvetica, arial, clean, sans-serif;
  font-size: 150%;
  margin-top: 1.5em;
  margin-bottom: 0.25em;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 125%;
}

h3 {
  font-size: 100%;
}

.free-page>p+p, #post>p+p {
  text-indent: 1.5em;
}
.free-page>h1+p, #post>h1+p {
  margin-top: 0.5em;
}

.free-page>h2+p, .free-page>h3+p, .free-page>div+p,
#post>h2+p, #post>h3+p, #post>div+p, #post>pre+p {
  margin-top: 1em;
}
/* upcoming, does not work yet :( */
#post p:has(img) { text-indent: 0em; }

p::first-line {
  /*letter-spacing: 1px;*/
}

.free-page>p img, #post>p img {
  margin-left: -1.5em;
  margin-top: 0.5em;
}

a {
  color: #000000;
}

a:hover {
  color: #404040;
}

a:visited {
  color: #202020;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  margin-bottom: 2em;
}

.title img {
  width: 100%;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }

.green {
  color: #009000;
}
.top, .top tbody tr td {
  vertical-align: top;
}
.table-bordered {
  border-spacing: 0px;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
}
.table-bordered th, .table-bordered td {
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-left: 3px;
  padding-right: 3px;
  margin: 0px;
}
.bg-red {  background-color: #ff0000; }
.fg-red {  color: #ff0000; }
.bg-green {  background-color: #00ff00; }
.fg-green {  color: #00d000; }
.smaller-text {
  font-size: 75%;
  line-height: 1.333em;
}
#post pre.smaller-text {
  line-height: 1.333em;
  margin-top: 0.667em;
  margin-bottom: 0.667em;
  padding-top: 0.667em;
  padding-bottom: 0.667em;
}

.free-page img {
  text-align: center;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.free-page .img-text {
  text-align:center;
  width: 100%;
  font-style: italic;
}

.center {
  width: 100%;
  text-align: center;
}

.right, .quote .right {
  text-align: right;
}
.quote {
  margin-top: 2em;
  width: 100%;
  font-style: italic;
  font-size: 15px;
}
.quote p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  text-indent: 0em;
}

.smaller {
  font-size: smaller;
}
